.Container{
    width: 500px;
    height: 150px;
    background-color: rgb(126, 90, 90);
    border: 2px solid black;
    align-items: middle;
    text-align: center;
    align-content: center;
    
    
}